{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "es2020": true,
    "node": true,
    "browser": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "jsx": true,
      "arrowFunctions": true
    },
    "project": "apps/**/tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "next",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ]
}